/* Reset */
body,
h1,
h2,
ol,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* Typography */
:root {
  font-size: 62.5%; /*10px*/
}

body {
  font-size: 1.4rem;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

/* Colors */
:root {
  --background-color: midnightblue;
  --normal-color: dodgerblue;
  --primary-color: lightgreen;
  --secondary-color: salmon;
}

/* Layyouts */
.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Components */
body {
  background-color: var(--background-color);
  color: var(--normal-color);
}

.header {
  display: flex;
  padding: 2rem 0;
  align-items: center;
}

.header-title {
  font-size: 6rem;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: var(--secondary-color);
}

.header-title strong {
  display: block;
  color: var(--primary-color);
}

.header-meta {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.header-meta::before {
  content: " ";
  margin: 0 2em;
  background-color: currentColor;
  width: 2rem;
  height: 2px;
}

.timeline li {
  background-color: rgba(0, 0, 0, 0.4);
}

.parts {
  display: flex;
  padding: 2rem 0;
}

.parts-times {
  background-color: orange;
}

.parts-contents {
  background-color: orangered;s
}