/* Reset */
body,
h1,
p {
  margin: 0;
}

/* Typography */
h1 {
  font-size: inherit;
  font-weight: inherit;
}

/* Colors */
:root {
  --background-color: midnightblue;
  --normal-color: dodgerblue;
}

/* Layyouts */
.wrapper {
  width: 960px;
  margin: 0 auto;
}

/* Components */
body {
  background-color: var(--background-color);
  color: var(--normal-color);
}

.header {
  display: flex;
  padding: 20px 0;
}

.header-title {
  background-color: orange;
}

.header-meta {
  background-color: orangered;
}
